/*sets the font for all the document to 18px in size and font family arial, generic sans-serif if user's machine system does not have arial, background color set to a very light gray and sets the body to a 95% max width */
body {
  margin: auto;
  width: 95%;
  font: 18px arial, sans-serif;
  background: #eee;
}

#animal-buttons{
  margin: 2.5% 0 2.5% 0;
}

/* submit button, 1% of padding space top and bottom 2% right and left, margin space 1% right and left, submit text is 2vw color is white, when the pointer is on top of button it changes to a hand, the background color is green, no border, corners rounded 10em at each corner, light gray drop shadow */
button{
  padding: 1% 1%;
  margin: 0 1% 1% 0;
  font-size: 1.5vw;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  background: #659a98;
  border: 0;
  border-radius: 1em;
  box-shadow: 3px 3px 6px rgb(116, 112, 112);
}

/* form is being displayed to the right or the id animals div, occupying 30% of the display, with 20px of space all around it, this form is self contained*/
#animal-form {
  display: flex;
  justify-content: center;
  margin-bottom: 2.5%;
}

/* the label gray color assigned to text,  */
label {
  justify-items: center;
  color: rgb(102, 99, 99);
  font-size: 2vw;
  margin: .75% 2% 0% 0;
  font-weight: bold;
}

/* the input field required is text, taking the whole width of the form and it is 30px in height, it is pushing the submit button 30px towards the bottom, the text size is 18px*/
input[type="text"] {
  /* width: 100%; */
  margin-right: 2%;
  font-size: 2vw;
}

/* submit button properties */
#add-animal{
  padding: 1% 1%;
  font-size: 1.5vw;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  background: #659a98;
  border: 0;
  border-radius: 2em;
  box-shadow: 3px 3px 6px rgb(116, 112, 112);
}

/* when cursor is on top of button, the background turns a dark green */
button:hover,
input[type="submit"]:hover {
  background: #334e4d;
}

/* buttons for animal categories turn the same dark green as the submit button when cursor is on top of them */
button.active {
background: #334e4d;
}

/* the images retrieved from the api are floated left to align them in rows with 1% of space all around each */
.animal-item {
  float: left;
  margin: 0 1% 1% 0;
}

/* drop shadow added to the individual images displayed */
img{
  box-shadow: 4px 4px 8px rgb(116, 112, 112);
}

/* clear property added so footer displays at bottom */
footer{
  clear: both;
}

/* gray background for footer text */
#bottom{
  margin-top: 5%;
  background-color: rgb(102, 99, 99);
}

/* text properties */
#foot{
  font-size: 1vw;
  padding: 1%;
  color: whitesmoke;
  text-align: center;
}